<% provide(:title, "SwellNow") %>

<div class="page-home container" style="text-align: left">
  <div style="display: inline-block; border-radius: 8px; overflow: hidden">
    <h2>How Swellnow Works:</h2>
  </div>
  <div class="container">
  <div class="row" style="margin-top: 37px; text-align: left">
    <div>
      <p>
        1. Swell is measured offshore by NOAA's buoys.
      </p>
      <p>
        2. Finish later...
      </p>
    </div>
  </div>
</div>
  <!-- <div style="display: inline-block; border-radius: 8px; overflow: hidden">
    <div id="borderimg1">
      <h2>SwellNow About</h2> 
      <p class="nav-properties" style="margin-top: 15px">Buoys, Waves, Profit?</p>
    </div>
  </div>
</div>
<div class="text-container-overlay-four">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3>Contact</h3>
      </div>
      <div class="col-md-3 vcenter">
        <p class="nav-properties">thewavestuffguys.com</p>
      </div>  
    </div>
  </div> -->
</div>
