<% provide(:title, "Waves") %>

<div class="page-home">
  <div class="container" style="text-align: center">
    <div style="display: inline-block; border-radius: 8px; overflow: hidden">
      <div id="borderimg1">
        <h2>Waves</h2> 
        <p class="nav-properties" style="margin-top: 15px">Buoys, Waves, Profit?</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top: 37px">
      <div id="box1" class="col-md-5 col-md-offset-1 col-sm-6 col-lg-4 col-lg-offset-2">
        <p>framework for california page.</p>
      </div>
    </div>
  </div>
  <div class="text-container-overlay-four">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>Contact</h3>
        </div>
        <div class="col-md-3 vcenter">
          <p class="nav-properties">thewavestuffguys.com</p>
        </div>
        
  </div>
</div>
</div>