<% provide(:title, "SwellNow") %>

<div class="container page-home" style="text-align: left">
  <div>
    <h3>Contact Us</h3>
  </div>
  <div style="margin-top: 30px; margin-bottom: 40px">
    <p>
      Got questions? Email us at <a href="mailto:swellnow.contact@gmail.com" target="_top">swellnow.contact@gmail.com</a>.
    </p>
  </div>
</div>
