<% provide(:title, "Waves") %>

<!-- Header -->
<!-- <header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading">It's Nice To Meet You</div>
      <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
  </div>
</header> -->

<!-- Home Section -->
<!-- <section id="home">
</section> -->

<div class="page-home">
  <div class="container" style="text-align: center">
    <div style="display: inline-block; border-radius: 8px; overflow: hidden">
      <div id="borderimg1">
        <h2>Waves</h2> 
        <p class="nav-properties" style="margin-top: 15px">Buoys, Waves, Profit?</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top: 37px">
      <div id="box1" class="col-md-5 col-md-offset-1 col-sm-6 col-lg-4 col-lg-offset-2">
        <p>This is a website that deals with water and stuff. Water is love. Water is life.</p>
         <p style="margin-top: 15px">Check out this image of an angry raindrop. See how angry it is?</p>
      </div>
      <div id="box2" class="col-md-5 col-sm-6 col-lg-4">
        <img src="https://drawception.com/pub/panels/2016/4-3/7HDAYH57aE-14.png" alt="angry raindrop" width="69%" class="image-container-one" />
      </div>
    </div>
  </div>
  <div class="text-container-overlay-four">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>Contact</h3>
        </div>
        <div class="col-md-3 vcenter">
          <p class="nav-properties">thewavestuffguys.com</p>
        </div>
        <!-- <div class="col-md-3 vcenter">
          <p class="nav-properties"><a href="mailto:jasnowiss@gmail.com" target="_top">jasnowiss@gmail.com</a></p>
        </div>
        <div class="col-md-2 vcenter">
          <p class="nav-properties"><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank">linkedin</a></p>
        </div>
        <div class="col-md-4 vcenter">
          <p class="nav-properties"><a href="https://github.com/jasnowiss" target="_blank">github</a></p>
        </div> -->
      </div>
      <!-- <div class="row">
        <div class="col-md-3">
          <h3>Contact</h3>
        </div>
        <div class="col-md-3">
          <p>jasnowiss@gmail.com</p>
          <p><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank">linkedin</p>
          <p><a href="https://github.com/jasnowiss" target="_blank">github</p>
        </div>
      </div> -->
    </div>
  </div>
</div>


<!-- <hr style="height:1px;border:none;color:#333;background-color:#333;" /> -->

<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; jeffsnowiss.com 2016</span>
      </div>
    </div>
  </div>
</footer> -->