<% provide(:title, "SwellNow") %>

<div class="container page-home">
  <div id="location-text"></div>
  <div id="dropmenu">
  </div>
  <div id="chart" style="margin-top: 10px">
    <canvas id="canvas" width="200" height="60"></canvas>
    <div id="swellcolors" style="margin-bottom: 40px">
    </div>
  </div>
  <div id="swellstatus"></div>
</div>

<!-- Specific javascript file for this page -->
<%= javascript_include_tag 'homepage' %>
