<% provide(:title, "Swell Now") %>

<!-- Header -->
<!-- <header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading">It's Nice To Meet You</div>
      <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
  </div>
</header> -->

<!-- Home Section -->
<!-- <section id="home">
</section> -->


<div class="page-home">
  <div class="container" id="dropmenu">
    <div id="dd-menu1" class="dropdown" style="position:relative;display:inline-block">
      <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">North America <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="trigger right-caret">West Coast</a>
          <ul class="dropdown-menu sub-menu">
            <li>
              <a class="trigger right-caret">Southern California</a>
              <ul class="dropdown-menu sub-menu">
                <li><a href="#" onclick="rename('Santa Barbara');return false;">Santa Barbara</a></li>
                <li><a href="#" onclick="rename('Los Angeles');return false;">Los Angeles</a></li>
                <li><a href="#" onclick="rename('Orange County');return false;">Orange County</a></li>
                <li><a href="#" onclick="rename('San Diego');return false;">San Diego</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="dropdown" style="position:relative;display:inline-block">
      <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">West Coast <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="trigger right-caret">Southern California</a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#" onclick="rename('Santa Barbara');return false;">Santa Barbara</a></li>
            <li><a href="#" onclick="rename('Los Angeles');return false;">Los Angeles</a></li>
            <li><a href="#" onclick="rename('Orange County');return false;">Orange County</a></li>
            <li><a href="#" onclick="rename('San Diego');return false;">San Diego</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="dropdown" style="position:relative;display:inline-block">
      <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Southern California <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#" onclick="rename('Santa Barbara');return false;">Santa Barbara</a></li>
        <li><a href="#" onclick="rename('Los Angeles');return false;">Los Angeles</a></li>
        <li><a href="#" onclick="rename('Orange County');return false;">Orange County</a></li>
        <li><a href="#" onclick="rename('San Diego');return false;">San Diego</a></li>
      </ul>
    </div>
    <div class="dropdown" style="position:relative;display:inline-block">
      <a href="#" id="ca-county" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Los Angeles</a>
    </div>
  </div>
  <div class="container" id="chart">
    <!-- <div class="row" style="margin-top: 37px">
      <div class="col-xs-9">
        <canvas id="canvas" width="200" height="60"></canvas>
      </div>
      <div id="status" class="col-xs-3"></div>
    </div> -->
    <div id="status"></div>
    <div style="margin-top: 37px">
      <canvas id="canvas" width="200" height="60"></canvas>
    </div>
  </div>
  <div class="container">
    <div>
      <img src="https://dl.dropboxusercontent.com/s/0yospz8q02iiofs/SwellColors.png" width="100%" alt="colorchart"/>
    </div>
    <div class="row" style="margin-top: 37px">
      <div class="col-xs-4" id="dirspec">
        <img src="https://drawception.com/pub/panels/2016/4-3/7HDAYH57aE-14.png" width="100%" alt="raindrop"/>
      </div>
      <div class="col-xs-6" id="freqspec">
        <img src="https://pixabay.com/static/uploads/photo/2014/04/11/09/28/water-321524_960_720.jpg" width="100%" alt="water"/>
      </div>
      <!-- <div id="box1" class="col-md-5 col-md-offset-1 col-sm-6 col-lg-4 col-lg-offset-2">
        <p>This is a website that deals with water and stuff. Water is love. Water is life.</p>
         <p style="margin-top: 15px">Check out this image of an angry raindrop. See how angry it is?</p>
      </div>
      <div id="box2" class="col-md-5 col-sm-6 col-lg-4">
        <img src="https://drawception.com/pub/panels/2016/4-3/7HDAYH57aE-14.png" alt="angry raindrop" width="69%" class="image-container-one" />
      </div> -->
    </div>
  </div>
</div>


<!-- <hr style="height:1px;border:none;color:#333;background-color:#333;" /> -->

<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; jeffsnowiss.com 2016</span>
      </div>
    </div>
  </div>
</footer> -->